<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
       <h3>Beneficiary Details</h3>
      </div>
      <div class="card-body">
        <p><strong>Individual number:</strong> {{ _individual_number }}</p>
        <p><strong>Name:</strong>  {{ _firstName }} {{ _lastName }}</p>
        <p><strong>Project:</strong> {{ _project }}</p>
        <p><strong>Camp:</strong> {{ _camp }}</p>
        <p><strong>Telephone:</strong> {{ _telephone }}</p>
      </div>
    </div>
  </div>
</div>

<!--<form action=""></form> -->

<form [formGroup]="interventions" (ngSubmit)="callingFunction()">
  <div class="card mt-3">
    <div class="card-header">
      <h3>Interventions</h3>
    </div>
<div class="card-body">
  <div class="row">
 <input
  type="text"
  formControlName="intervention_fk"
  name="intervention_fk"
  hidden
/>
<div class="col-sm-12 col-lg-6">
  <label for="">Type of Intervention:</label>
  <div class="input-group mb-2">
    <select
      multiple
      formControlName="intervention"
      name="intervention"
      id="intervention"
      class="form-control"
    >
      <option
        [value]="_intervention.name"
        *ngFor="let _intervention of intervention"
        >{{ _intervention.name }}
      </option>
    </select>
  </div>
</div>

<div class="col-sm-12 col-lg-6">
  <label for="">Enrolment Date:</label>
  <div class="input-group mb-2">
    <input
      formControlName="date_enroled"
      name="enroled date"
      id="enroled date"
      type="date"
      class="form-control"
      placeholder="Enter beneficiary date of enrolement"
    />
    <!--<span>{{ _date_enroled }}</span>
    <span>{{ _date_enroled_formatted }}</span>-->
  </div>
</div>

<div class="col-sm-12 col-lg-6">
  <label for="">Drop Date:</label>
  <div class="input-group mb-2">
    <input
      formControlName="drop_date"
      name="drop_date"
      id="drop_date"
      type="date"
      class="form-control"
      placeholder="Enter beneficiary drop date"
    />
  </div>
</div>

<div class="col-sm-12 col-lg-6">
  <label for="">Completion Date:</label>
  <div class="input-group mb-2">
    
    <input
      formControlName="completion_date"
      name="completion_date"
      id="completion_date"
      type="date"
      class="form-control"
      placeholder="Enter beneficiary completion date"
    />
  </div>
</div>
</div>
</div>
  </div>
<div class="col-sm-3">
  <button
  class="btn btn-primary d-block w-100 py-3"
  type="submit"
  [disabled]="!interventions.valid"
>
  Save
</button>
</div>

</form>
