<form [formGroup]="bioSection" (ngSubmit)="callingFunction()">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
     <div class="alert alert-danger d-flex justify-content-between"><p>This is danger</p> <i class="fa fa-close"></i> </div>
     <div class="alert alert-success">This is success</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h3>
        Bio Details
      </h3>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-lg-4">
          <label for="">Individual Number:</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-asterisk" aria-hidden="true"></i>
              </div>
            </div>
            <input
              formControlName="individual_number"
              name="name"
              id="individual_number"
              type="text"
              class="form-control"
              placeholder="Enter beneficiary individual number"
              disabled
            />
          </div>
        </div>
      
        <div class="col-sm-12 col-lg-4">
          <label for="">First Name:</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-asterisk" aria-hidden="true"></i>
              </div>
            </div>
            <input
              formControlName="beneficiary_firstName"
              name="firstname"
              id="firstname"
              type="text"
              class="form-control"
              placeholder="Enter beneficiary first name"
            />
          </div>
        </div>
      
        <div class="col-sm-12 col-lg-4">
          <label for="">Last Name:</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-asterisk" aria-hidden="true"></i>
              </div>
            </div>
            <input
              formControlName="beneficiary_lastName"
              name="lastname"
              id="lastame"
              type="text"
              class="form-control"
              placeholder="Enter beneficiary first name"
            />
          </div>
        </div>
      
        <div class="col-sm-12 col-lg-3">
          <label for="">Id Number (if applicable):</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-asterisk" aria-hidden="true"></i>
              </div>
            </div>
            <input
              formControlName="id_number"
              name="id number"
              id="id number"
              type="text"
              class="form-control"
              placeholder="Enter beneficiary ID number if applicable"
            />
          </div>
        </div>
      
        <div class="col-sm-12 col-lg-3">
          <label for="">Sex:</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-asterisk" aria-hidden="true"></i>
              </div>
            </div>
            <select formControlName="sex" name="sex" id="sex" class="form-control">
              <option [value]="_sex.name" *ngFor="let _sex of sexes"
                >{{ _sex.name }}
              </option>
            </select>
          </div>
        </div>
      
        <div class="col-sm-12 col-lg-3">
          <label for="">Age:</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-asterisk" aria-hidden="true"></i>
              </div>
            </div>
            <input
              formControlName="age"
              name="age"
              id="age"
              type="text"
              class="form-control"
              placeholder="Enter beneficiary age"
            />
          </div>
        </div>
      
        <div class="col-sm-12 col-lg-3">
          <label for="">Disability status:</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-asterisk" aria-hidden="true"></i>
              </div>
            </div>
            <select
              formControlName="disability_status"
              name="disability_status"
              id="disability_status"
              class="form-control"
            >
              <option
                [value]="_disability.name"
                *ngFor="let _disability of disability"
                >{{ _disability.name }}
              </option>
            </select>
          </div>
        </div>
      
        <div class="col-sm-12 col-lg-4">
          <label for="">Type of disability (if applicable):</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-asterisk" aria-hidden="true"></i>
              </div>
            </div>
            <input
              formControlName="type_disability"
              name="type disability"
              id="type disability"
              type="text"
              class="form-control"
              placeholder="Enter beneficiary type of disability if applicable"
            />
          </div>
        </div>
      
        <div class="col-sm-12 col-lg-4">
          <label for="">Status (Refugee/Host):</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-asterisk" aria-hidden="true"></i>
              </div>
            </div>
            <input
              formControlName="status"
              name="type status"
              id="status"
              type="text"
              class="form-control"
              placeholder="Enter beneficiary status"
            />
          </div>
        </div>
      
        <div class="col-sm-12 col-lg-4">
          <label for="">Nationality:</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-asterisk" aria-hidden="true"></i>
              </div>
            </div>
            <input
              formControlName="nationality"
              name="nationality"
              id="nationality"
              type="text"
              class="form-control"
              placeholder="Enter beneficiary nationality"
            />
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="card my-3">
   <div class="card-header">
    <h3> Details</h3>
   </div>
<div class="card-body">
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <label for="">Beneficiary telephone number:</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-asterisk" aria-hidden="true"></i>
          </div>
        </div>
        <input
          formControlName="telephone_number"
          name="telephone number"
          id="telephone number"
          type="text"
          class="form-control"
          placeholder="Enter beneficiary telephone number"
        />
      </div>
    </div>

    <div class="col-sm-12 col-lg-4">
      <label for="">Camp:</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-asterisk" aria-hidden="true"></i>
          </div>
        </div>
        <select formControlName="camp" name="camp" id="camp" class="form-control">
          <option [value]="_camp.name" *ngFor="let _camp of camp"
            >{{ _camp.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-sm-12 col-lg-4">
      <label for="">Block:</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-asterisk" aria-hidden="true"></i>
          </div>
        </div>
        <select formControlName="block" name="block" id="block" class="form-control">
          <option [value]="_block.name" *ngFor="let _block of block"
            >{{ _block.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-sm-12 col-lg-4">
      <label for="">Reffered To:</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-asterisk" aria-hidden="true"></i>
          </div>
        </div>
        <select
          formControlName="reffered_to"
          name="reffered to"
          id="reffered to"
          class="form-control"
        >
          <option
            [value]="_refferedto.name"
            *ngFor="let _refferedto of refferedto"
            >{{ _refferedto.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-sm-12 col-lg-4">
      <label for="">Reffered From:</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-asterisk" aria-hidden="true"></i>
          </div>
        </div>
        <select
          formControlName="reffered_from"
          name="reffered to"
          id="reffered to"
          class="form-control"
        >
          <option
            [value]="_refferedto.name"
            *ngFor="let _refferedto of refferedto"
            >{{ _refferedto.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
   
   </div>
  </div>

  <div class="card my-3">
    <div class="card-header">
      <h3>Other Details</h3>
    </div>
    <div class="card-body">
      <div class="row">
      <div class="col-sm-12 col-lg-4">
        <label for="">Date Enrolled:</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-asterisk" aria-hidden="true"></i>
            </div>
          </div>
          <input
            formControlName="date_enroled"
            name="enroled date"
            id="enroled date"
            type="date"
            class="form-control"
            placeholder="Enter beneficiary date of enrolement"
          />
        </div>
      </div>
  
      <div class="col-sm-12 col-lg-4">
        <label for="">Project:</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-asterisk" aria-hidden="true"></i>
            </div>
          </div>
          <select multiple formControlName="project" name="project" id="project" class="form-control">
            <option [value]="_project.name" *ngFor="let _project of project"
              >{{ _project.name }}
            </option>
          </select>
        </div>
      </div>
  
      <div class="col-sm-12 col-lg-4">
        <label for="">Household head:</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-asterisk" aria-hidden="true"></i>
            </div>
          </div>
          <select formControlName="hh_head" name="hh head" id="hh hh_head" class="form-control">
            <option [value]="_hhhead.name" *ngFor="let _hhhead of hhhead"
              >{{ _hhhead.name }}
            </option>
          </select>
        </div>
      </div>
  
      <div class="col-sm-12 col-lg-4">
        <label for="">Group Name (if a member):</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-asterisk" aria-hidden="true"></i>
            </div>
          </div>
          <input
            formControlName="group_name"
            name="group name"
            id="group name"
            type="text"
            class="form-control"
            placeholder="Enter beneficiary group name if applicable"
          />
        </div>
      </div>
  
      <div class="col-sm-12 col-lg-4">
        <label for="">Household male size:</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-asterisk" aria-hidden="true"></i>
            </div>
          </div>
          <input
            formControlName="hh_male_size"
            name="hhmalesize"
            id="hhmalesize"
            type="text"
            class="form-control"
            placeholder="Enter beneficiary household male number "
          />
        </div>
      </div>
  
      <div class="col-sm-12 col-lg-4">
        <label for="">Household female size:</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-asterisk" aria-hidden="true"></i>
            </div>
          </div>
          <input
            formControlName="hh_female_size"
            name="hhfemalesize"
            id="hhfemalesize"
            type="text"
            class="form-control"
            placeholder="Enter beneficiary household female number "
          />
        </div>
      </div>
      </div>
    </div>
  </div>
  
  <div class="row">
  
  

  <button class="btn btn-primary" type="submit" [disabled]="!bioSection.valid">
    Save
  </button>

</div>
</form>


