<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="auth.isLoggedIn()">
    <a class="navbar-brand" href="#">Dadaab Information Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <a class="nav-link" routerLink="/Beneficiaries" routerLinkActive="active" *ngIf="auth.isLivelihoods() || auth.isProtection() || auth.isAdmin()">Beneficiaries</a>
      </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/Livelihoods" routerLinkActive="active" *ngIf="auth.isLivelihoods() || auth.isAdmin()">Livelihood <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Protection" routerLinkActive="active" *ngIf="auth.isProtection() || auth.isAdmin()">Protection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Register"  routerLinkActive="active" *ngIf="auth.isAdmin()">Register User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>

        
        </ul>
    </div>
  </nav>
