<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <p>Enter your login credentials</p>
        </div>
        <div class="card-body">
            <form class="form" #f="ngForm" (ngSubmit)="f.form.valid && login()" novalidate>
    
            <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <label for="">Email:<label class="red-text">*</label></label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="credentials.email" id="email" name="email"
                    placeholder="Enter your or Email">
                   <!--<div *ngIf="f.submitted && email.invalid" class="alert
                    alert-danger">
                    <div *ngIf="email.errors.required">Email is required</div>
                  </div>--> 
                </div>
              </div>
            </div>
        
              <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
                <label for="">Password:<label class="red-text">*</label></label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-asterisk" aria-hidden="true"></i></div>
                  </div>
                  <input type="password" class="form-control" [(ngModel)]="credentials.password" id="password" name="password" placeholder="Enter your password">
                 <!-- <div *ngIf="f.submitted && password.invalid" class="alert
                  alert-danger">
                  <div *ngIf="password.errors.required">Password is required</div>
                </div>-->
                </div>
              </div>
              </div>
        
              <div class="col-sm-12 col-md-12 col-lg-12">
                <button class="btn btn-secondary btn-block" type="submit" ><i
                    class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
                <button class="btn btn-danger btn-block" type="reset"><i class="fa fa-undo" aria-hidden="true"></i>
                  Reset</button>
              </div>
              
        </form>
        </div>
    
    </div>
</div>

