  <div class="row py-5">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header text-center">
          <h4>Biodata</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <h5>Personal Identification Information</h5>
              <p><strong>Name:</strong> {{ fname }} {{ lname }}</p>
              <p><strong>Individual Number:</strong> {{ individualnumber }}</p>
              <p><strong>Phone Number:</strong> {{ phone }}</p>
              <p><strong>Gender:</strong> {{ gender }}</p>
              <p><strong>Age:</strong> {{ age }}</p>
              <p><strong>Nationality:</strong> {{ nationality }}</p>
            </div>
            <div class="col-sm-6">
              <h5>Additional Information</h5>
              <p><strong>Status:</strong> {{ status }}</p>
              <p><strong>Camp:</strong> {{ camp }}</p>
              <p><strong>House Head:</strong> {{ hhead }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <h5 class="p-3">Interventions</h5>
      <div class="col-sm-12 ">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li ngbNavItem>
            <a ngbNavLink>Livelihood</a>
              <ng-template ngbNavContent >
                <div class="pt-3 pl-3">
                  <p><strong>Support received:</strong> {{type_support}}</p>
                  <p><strong>Enrollment date:</strong> {{l_date_enroled }}</p>
                  <p><strong>Drop date:</strong> {{l_drop_date}}</p>
                  <p><strong>Completion date:</strong> {{l_completion_date}}</p>
              </div>
              </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Protection</a>
              <ng-template ngbNavContent >
                <div class="pt-3 pl-3">
                <p><strong>Support received:</strong> {{protection_support_recieved}}</p>
                <p><strong>Enrollment date:</strong> {{p_date_enroled}}</p>
                  <p><strong>Drop date:</strong> {{p_drop_date}}</p>
                  <p><strong>Completion date:</strong> {{p_completion_date}}</p>
              </div>
              </ng-template>
            
            
          </li>
          
        </ul>
        <div [ngbNavOutlet]="nav"></div>



      </div>
    </div>
  </div>
